ncpprojectxml/resume.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="CATALOG/CD">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="year" type="xs:string"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="where" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>